<% title "Edit Image: " + @image.name %>

<!-- Basic layout-->
<div class="panel panel-flat">
  
    <div class="panel-heading"></div>
    
    <div class="panel-body">
        <%= render 'form', image: @image %>
    </div>

</div>
<!-- /basic layout -->