<li>
  <a href="#"><i class="icon-images2"></i> <span>Gallery</span></a>
  <ul>
      <li<% if["naturesoft/galleries/admin/galleries"].include?(params[:controller]) %>class="active"<% end %>">
        <%= link_to 'Galleries', naturesoft_galleries.admin_galleries_path %>
      </li>
      <li<% if["naturesoft/galleries/admin/images"].include?(params[:controller]) %>class="active"<% end %>>
        <%= link_to 'Images', naturesoft_galleries.admin_images_path %>
      </li>
  </ul>
</li>